<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="database" connectionString="data source=wexox2.mysql.domeneshop.no; database=wexox2; Uid=wexox2; pwd=8tfnBsz2JawQgkq;"
      providerName="MySql.Data.MySqlclient" />
  </connectionStrings>
</configuration>